

html{
    font-family: DM Sans,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    line-height: 1.5;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: block;
}
.centralcontainer{
    background: rgb(90, 11, 77);
    width: 100%; 
    height: 100%;
   display: block;     
}

.menu{
    display: block;     
}

.imgselar{
    
    cursor: pointer;
}

.menubar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
    margin-top: 0;
    
}

.menubar ul{
    display: flex;
   
  
   justify-content: center;
   align-items: center;
}

.menubar ul li{
    padding: 15px;
    list-style: none;
  
    
    
}

.menubar ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: block;
}

.log{
   
    display: flex;
   justify-content: space-between;
   align-items: center;
   
}

.login, .startselling{
    display: block;
    padding: 20px;    
    cursor: pointer;
}

.login{
    background-color: inherit;
    border: none;
    color: white;
    font-weight: 500;
    font-size: inherit;
    font-family: inherit;
    text-decoration: none;
}

.startselling{
    background-color: white;
    border-radius: 10px;    
    color: rgb(90, 11, 77);
    font-size: 12px;     
    padding: 18px;  
    border: none;
    width: 135px;
    
}

.fa{
    margin-left:8px;
}

.learn{
    display: none;
}

.menubar ul li:hover .fa{
transform: rotate(180deg);
}

.menubar ul li:hover .learn{

    display: flex;
    position: absolute;    
    background: white;
    color:black;
    top: 5rem;
    right:  12em;
    border-radius: 5px;
    
}

.learn ul {
    display: block;
    margin-left: 5px;    
}
.learn ul li{
    
    
}

.learn ul li a{
    color: black;
    font-family: inherit;
}

.learn:after{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-top:15px solid transparent ;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom:15px solid white ;
    top:-20%;
    left: 10%;
    margin-top: 10px;
}

.learn ul li a:hover{
    font-weight: bold;
}

.loginpage{
    display: none;
}

.login:hover .loginpage {
    display: inline-flex;
}

.infoblock{
display: block;

}

.info{
    width: 700px;  
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font: inherit;
    font-size: 18px;
}

.info button{
    margin: 20px auto;
    display: block;
    
}

.info h5{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;  
    cursor: default;
    display: block;
}

.psell{
    width: 650px;
    font: inherit;
    font-size: 48px;
   font-weight: 650;
   line-height: 50px;
   text-align: center;   
   margin: 0 auto; 
   cursor: default;
   display: block;
}

.psell2 {
    line-height: 24px;
    font-size: 16px; 
    margin-top: 10px;
    cursor: default;
    display: block;
}

.startselling2{
    width: 220px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: white;    
    color: rgb(97, 11, 84);
    font-size: 14px;
    font-weight: 700;
    display: block;
}

.startselling, .startselling2{
    cursor: pointer;
}

.collapse{
    display: none;
    flex-direction: column;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 25px;
    right: 14px;
    justify-content: center;
    align-items: left;
}

.menuspan1{
       width: 20px;
       height: 3px;
      background-color: white;
      border-radius: 25%;      
      margin-bottom: 4px;
}

.menuspan2{
    width: 25px;
    height: 3px;
   background-color: white;
   border-radius: 25%;      
   margin-bottom: 4px;
}

.menuspan3{
    width: 16px;
    height: 3px;
   background-color: white;
   border-radius: 25%;
}

@media (max-width:765px) {

.menubar{
padding: 20px;
}
    .menubar ul, .log{
        display:none;
    }

    
    .collapse{
        display: flex;
        cursor: pointer;   


    }

    .info{
        margin: 0 auto;
    }

    .info button{
        margin: 20px auto;
        display: block;
        
    }
    
    .info h5{
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;  
        cursor: default;
        display: block;
    }
    
    .psell{
        width: 650px;
        font: inherit;
        font-size: 48px;
       font-weight: 650;
       line-height: 50px;
       text-align: center;   
       margin: 0 auto; 
       cursor: default;
       display: block;
    }
    
    .psell2 {
        line-height: 24px;
        font-size: 16px; 
        margin-top: 10px;
        cursor: default;
        display: block;
    }
    
    .startselling2{
        width: 220px;
        height: 60px;
        border-radius: 10px;
        border: none;
        background-color: white;    
        color: rgb(97, 11, 84);
        font-size: 14px;
        font-weight: 700;
        display: block;
    }
    
    .startselling, .startselling2{
        cursor: pointer;
    }
}




