

html{
    font-family: DM Sans,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    line-height: 1.5;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: block;
}
.centralcontainer{
    background: rgb(90, 11, 77);
    width: 100%; 
    height: 100%;
   display: block;     
}

.menu{
    display: block;     
}

.imgselar{
    
    cursor: pointer;
}

.menubar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
    margin-top: 0;
    
}

.menubar ul{
    display: flex; 
    margin-left: 80px;
   justify-content: center;
   align-items: center;
}

.menubar ul li{
    padding-left: 50px;
    list-style: none;    
}

.menubar ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: block;
}

.log{
   
    display: flex;
   justify-content: space-between;
   align-items: center;
   
}

.login, .startselling{
    display: block;
    padding: 20px;    
    cursor: pointer;
}

.login{
    background-color: inherit;
    border: none;
    color: white;
    font-weight: 500;
    font-size: inherit;
    font-family: inherit;
    text-decoration: none;
}

.startselling, .startselling2{
    background-color: white;
    border-radius: 10px;    
    color: rgb(90, 11, 77);
    font-size: 12px;     
    padding: 18px;  
    border: none;
    width: 135px;
    
}

.fa{
    margin-left:8px;
}

.learn{
    display: none;
}

.menubar ul li:hover .fa{
transform: rotate(180deg);
}

.menubar ul li:hover .learn{

    display: flex;
    position: absolute;    
    background: white;
    color:black;
    top: 5rem;
    right:  12em;
    border-radius: 5px;
    
}

.learn ul {
    display: block;
    margin-left: 5px;    
}
.learn ul li{
    
    
}

.learn ul li a{
    color: black;
    font-family: inherit;
}

.learn:after{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-top:15px solid transparent ;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom:15px solid white ;
    top:-20%;
    left: 10%;
    margin-top: 10px;
}

.learn ul li a:hover{
    font-weight: bold;
}

.loginpage{
    display: none;
}

.login:hover .loginpage {
    display: inline-flex;
}

.infoblock{
display: block;

}

.info1{
    display: block;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
    color: white;
}

.info button{
   width: 170px;
    
}

.info h5{
    text-transform: uppercase;    
    font: inherit;
    font-size: 17px;
    font-weight: 500;
   
}

.psell{
    font: inherit;
    font-family: inherit;
    font-size: 50px;
    font-weight: 500;
    line-height: 54px;
    text-align: center;
    margin-top: 10px;
    max-width: 600px;    
    margin-bottom: 20px;
}

.psell2 {
    text-align: center; 
    margin-top: 1px;
    width: 500px;
    margin-bottom: 40px;
}

.startselling2{
    font-weight: 600;   
    font-size: 12px;
    letter-spacing: 1px;
    

}

.startselling, .startselling2{
    cursor: pointer;
}

.collapse{
    display: none;
    flex-direction: column;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 25px;
    right: 14px;
    justify-content: center;
    align-items: left;
}

.menuspan1{
       width: 20px;
       height: 3px;
      background-color: white;
      border-radius: 25%;      
      margin-bottom: 4px;
}

.menuspan2{
    width: 25px;
    height: 3px;
   background-color: white;
   border-radius: 25%;      
   margin-bottom: 4px;
}

.menuspan3{
    width: 16px;
    height: 3px;
   background-color: white;
   border-radius: 25%;
}

.demo{
    width:450px;
    height: 700px;
    display: block;
    object-position: center;
}

.bodydiv{
    display: block;
}


.people{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
}

.pimg {
    display: block;        
}

.pimg img{
    width: 60px;
}

.pimg img:nth-child(2){
    position: relative;
    right: 15px;
}

.pimg img:nth-child(3){
    position: relative;
    right: 15px;
}

.people label {
    display: block;        
    
    font-size: 18px;
    margin: 10px auto;
   width: 380px;
}

.people span{
    color: rgb(90, 11, 77);
    font-weight: 500;
}

.label2{
    display: block;
    margin: 150px auto; 
    width: 450px;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    padding: 0 20px 0 20px;

}

.act{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.activity{
    margin: 50px auto;
}

.activity a{
    text-decoration: none;
    color: rgb(49, 31, 31);
    display: flex;
}

.activity label{
    margin-left: 40px;
}



@media (max-width:765px) {

.menubar{
padding: 20px;
}
    .menubar ul, .log{
        display:none;
    }

    
    .collapse{
        display: flex;
        cursor: pointer;   
    }


    
    .psell{
        font-size: 34px;
        font-weight: 700;
        line-height: 38px;
    }
    
                                   
    .psell2 {
       width: 450px;
        
    }
       
    .startselling, .startselling2{
        cursor: pointer;
    }

    body{
        overflow-x: hidden;
        display: block;
    }

   

}



